Django_server/cs_tool/cs_tool
Django_server/cs_tool/db.sqlite3
Django_server/cs_tool/manage.py
Django_server/cs_tool/iCommenter/migrations
Django_server/djangoenv
gradlePlugin/*
!gradlePlugin/src

!gradlePlugin/build.gradle
!gradlePlugin/settings.gradle

*.pyc
*.bin